$image: url("../../assets/background.jpg");

$Primary: #404040;
$Secondary: #ffffff;
$PrimaryButton: #E48025;
$SecondaryButton: #eeeaf6;
$Accent: #ffd2bb;

// Colors
$btnColor: $PrimaryButton;
$txtColor: white;

// Borders 
$radius: .2em;