.checkoutTotal {
  display: flex;
  justify-content: space-between;
}

.bookingInput {
  display: flex;
  flex-direction: row;


  & input {
    background-color: transparent;
    border: 2px solid gray;
  }
}